html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

fieldset {
    display: block;
    min-inline-size: min-content !important;
    margin-inline: 2px !important;
    border-width: 2px !important;
    border-style: groove !important;
    border-color: lightgrey !important;
    padding-block: 0.35em 0.625em !important;
    padding-inline: 0.75em !important;
}

legend {
    width:max-content !important;
    unicode-bidi: isolate !important;
    padding-inline: 2px !important;
    float:inherit !important;
}